body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(56, 20, 184), rgb(83, 25, 160), rgb(62, 9, 146));
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

.container-task{
    max-width: 700px;
    margin: 0px auto;
}

.container-task > h2 {
    font-size: 2.3rem;
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-name {
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    text-indent: 10px;
}
#add-task-name::placeholder{
    font-size: 1.4em;
    color: rgb(83, 25, 160);
}

#btn-add{
    display: block;
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    color: rgb(83, 25, 160);
    border: none;
    cursor: pointer;
    transition: ease-in;
    transition-duration: 0.3s;
    
}

#add{
    border-radius: 50%;
}

#add:hover{
    color:white;
    background-color: green;
    border-radius: 50%;
    border: 3px solid green;
    transition: ease-in;
    transition-duration: 0.3s;
}


.task-name {
    display: none;
}

.screen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 38px;
    background-color: white;
    color: rgb(83, 25, 160);
    list-style-type: none;
    text-indent: 10px;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.done{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 38px;
    background-color: rgba(56, 20, 184, 0.493);
    color: white;
    list-style-type: none;
    text-indent: 10px;
    font-size: 1.3em;
    margin-bottom: 10px;
    border: 1px solid white;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.button-check-delete{
    margin-right: 10px;
}

#btn-complete{
    color: rgb(83, 25, 160);
    background-color: white;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 50%;
    transition: ease-in;
    transition-duration: .3s;
}

#btn-complete:hover{
    color: white;
    background-color: green;
    border-radius: 50%;
    border: 3px solid green;
}

#btn-delete{
    color: rgb(83, 25, 160);
    border: 3px solid white;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition: ease-in;
    transition-duration: .3s;
    background-color: white;
}

#btn-delete:hover{
    color: white;
    background-color: red;
    border-radius: 50%;
    border: 3px solid red;
}



