body{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgb(56, 20, 184), rgb(83, 25, 160), rgb(62, 9, 146));
    height: 100vh;
    color: white;
    font-family: sans-serif;
}

.container-task > h2 {
    font-size: 2.3rem;
    text-align: center;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-task-name {
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    text-indent: 10px;
}
#add-task-name::placeholder{
    font-size: 1.4em;
    color: rgb(83, 25, 160);
}

#btn-add{
    display: block;
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    color: rgb(83, 25, 160);
    border: none;
    cursor: pointer;
}

#add:hover{
    color:white;
    background-color: green;
    border-radius: 50%;
}

.container-task-list{
    display: flex;
    flex-direction: column;
}

#task-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 35px;
    background-color: white;
    color: rgb(83, 25, 160);
    list-style-type: none;
    text-indent: 10px;
    font-size: 1.3em;
}

.button-check-delete{
    margin-right: 10px;
}

#btn-complete{
    color: rgb(83, 25, 160);
    cursor: pointer;
}

#btn-complete:hover{
    color: white;
    background-color: green;
    border-radius: 50%;
}

#btn-delete{
    color: rgb(83, 25, 160);
    margin-left: 5px;
    cursor: pointer;
}

#btn-delete:hover{
    color: white;
    background-color: red;
    border-radius: 50%;
}



